body,
#desc {
    font-family: 'Georgia', 'Garamond', Times, serif;
    text-align: center;
}

h1 {
    background-color: hsl(43, 85%, 75%);
    border: 2px goldenrod solid;
    color: white;
    font-size: 56px;
    font-weight: 1000px;
    padding: 10px;

}

#recipe-list {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

ul,
ol,
h2 {
    text-align: left;
}

.recipe-link {
    margin: 48px;
    list-style: none;
}

#desc {
    border: 2px goldenrod solid;
    padding: 6px;
    color: goldenrod;
}

.recipe-description {
    margin: 24px 48px 48px 48px;
    padding-bottom: 24px;
    border-bottom: 2px goldenrod solid;
    font-size: 18px;
}