body,
#desc {
    font-family: 'Georgia', 'Garamond', Times, serif;
    text-align: center;
}

h1 {
    background-color: hsl(43, 85%, 75%);
    border: 2px goldenrod solid;
    color: white;
    font-size: 56px;
    font-weight: 1000px;
    padding: 10px;

}

#recipe-list {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

ul,
ol,
h2 {
    text-align: left;
}

li {
    margin: 48px;
    list-style: none;
}
